/* TashbihApp.css */
.container {
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
}

h2 {
  color: darkgreen;
  margin-bottom: 20px;
}

button {
  margin: 8px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

ul {
  list-style: none;
  padding: 5px;
  font-size: 18px;
}

ul:nth-child(1) {
  color: #1e88e5; /* blue */
}
ul:nth-child(2) {
  color: #fbc02d; /* yellow */
}
ul:nth-child(3) {
  color: #e53935; /* red */
}
